.market-holdedstock-row {
    display: flex;
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 7px;
  }
  
  .market-holdedstock-column {
    color: #ffffff;
    padding: 5px;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .market-holdedstock-column:hover {
    background-color: #495057; 
  }

  .holdedstock-button
  {
    color: #ffffff;
    background-color: #212529;
    width: 50%;
  }