.loading-message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #212529;
    background-color: #343a40;
}

.modal-content {
    background-color: #343a40 !important;
}