.message-group1 {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-group1::-webkit-scrollbar {
    width: 2px;
    background: rgb(33 37 41);
}